.movieContainer {
  box-shadow: 3px 3px 0.3em red;
  display: grid;
  transition: all 0.4s ease;
  background-color: antiquewhite;
  padding: 10px;
}

.movieContainer:hover {
  transform: translate(0, -3%);
  box-shadow: 5px 5px 1em red;
}
.movieContainer:hover .coverImage {
  box-shadow: 3px 3px 1em purple;
}
.movieTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: row;
  width: 100%;
}

.movieSummary {
  display: grid;
  font-weight: 300;
  grid-template-columns: 230px auto;
  row-gap: 10px;
}

.coverImage {
  position: relative
  ;
  top: -15px;
  right: 15px;
  box-shadow: 1px 1px 0.3em purple;
  transition: all 0.4s ease;
}
.genres {
  border-bottom: 2px solid white;
  display: flex;
  gap: 20px;
  justify-content: column;
}

.descroption {
  padding: auto;
  margin-left: 10px;
}
